#toggleMode {
    margin-left: 50px;
}

.rectangle {
    position: absolute;
    width: 60px;
    height: 40px;
    background: white;
    border: 1px solid blue;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid red;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid purple;
    background: white;
    border-radius: 50%;
}

.ellipse {
    position: absolute;
    width: 60px;
    height: 40px;
    border: 1px solid green;
    background: white;
    border-radius: 50%;
}
